@charset "utf-8";
/* CSS Document */

*{padding:0;
margin:0;
}
.outter{
	width:100%;
	height:800px;
	position:absolute;
	top:0;
	left:0;
	background:rgba(50,50,50,.2);
	
	}
.outteredit	{
	width:100%;
	height:800px;
	position:absolute;
	top:0;
	left:0;
	background:rgba(50,50,50,.2);
	
	}
.signupinner{
	background:#fff;
	margin:35px auto;
	min-width:300px;
	max-width:550px;
	padding:10px 30px;
	border:1px solid #ccc;
	border-radius:5px;
	position:relative;
	padding-top:50px;
	
	}
.innerfeilds{
	padding:5px 0;
	}
.signup_title_outter{
	position:absolute;
	
	width:250px;
	margin:0 auto;
	top:-10px;
	right:28%;
	border-bottom-right-radius:9px;
	border-bottom-left-radius:9px;
	background:#0972DD;
	background:linear-gradient(#ffffff -32%,#0972DD 40%);
	color:#fff;
}
.signup_title{
	padding:8px 0;
	text-align:center;	
}
input[type=text],input[type=password]
{
	width:250px;
	height:40px;
	border:1px solid #eee;
	border-bottom:none;
	padding-left:10px;
	}
input[type=text]:focus,input[type=password]:focus,textarea:focus
{
	box-shadow:0 0 5px rgba(9,114,221,.5);
	}
textarea{
	resize:none;
	width:500px;
	height:70px;
	padding:5px 5px;
}
select{
	width:120px;
	height:30px;
}
button{
	width:250px;
	height:40px;
	background:#0972DD;
	color:#fff;
	border:none;
	font-weight:600;
	border-radius:2px;
	}
